<H1>Parcelas Libres </H1>
<div class="tablewaprer">
   <table class="info-parcel">
         <tr>
            <th>Id parcela</th>
            <th>Valor</th>
            <th>Borrar</th>
            <th>Editar</th>

         </tr>
       <tr *ngFor=" let libre of parcelarLibre">
            <td>{{libre.id_parcela}}</td>
            <td>{{libre.valor}}</td>
            <td><a (click)="borraParcela(libre.id_parcela)" ><img src="../../../assets/img/icons8-delete-30.png"></a></td>
            <td><a routerLink="edit/{{libre.id_parcela}}"><img src="../../../assets/img/icons8-edit-30.png"></a></td>
         </tr>
   </table>

</div>
