<h2>Parcelas Comunitarias</h2>
<form [formGroup]="comunitariaform"  (ngSubmit)="addcomunitaria()">
  <h3>Datos de la Parcela</h3>
  <div class="input">
    <label class="label-form" for="id_parcela">Id Parcela</label> 
    <input type="text" id="id_parcela" placeholder="id parcela" formControlName="id_parcela" required><br>
  </div>
  <div class="input">
    <label class="label-form" for="id_parcela_og">Id Parcela OG</label> 
    <input type="text" id="id_parcela_og" placeholder="id parcela og" formControlName="id_parcela_og" required><br>
  </div>
  <div class="input">
    <label class="label-form" for="descripcion">Descripcion</label> 
    <input type="text" id="descripcion" placeholder="descripcion" formControlName="descripcion" required><br>
  </div>
  <div class="btn-wrapper">
    <button type="submit" class="parcel-btn2" > Agregar</button>
  </div>
</form>